body {
	background-color: #f3eded;
}

.fond {
	background-image: url('assets/fond.png');
	background-size: cover;
	margin: auto;
	padding-bottom: 100px;
	width: 1122px;
	height: 1212px;
}

h1 {
	text-align: center;
}

h1 img {
	width: 600px;
	height: auto;
}

button, select {
	background-color: #f3eded;
	border: none;
}
select {
	border: 1px grey solid;
	border-radius: 5px;
	height: 25px;
}

button img {
	width: 20px;
}
.gras, .italique, .barré, .lien, .plus, .minus, .gauche, .droite, .centré, .justifié, .générer, .enregistrer, .dailymotion, .youtube {
	width: 70px;
}
.taille, .police {
	margin-right: 50px;
	width: 100px;
}
.wysiwyg {
	text-align: center;
}
.editor {
	text-align: left;
	width: 750px;
	height: 800px;
	margin: auto;
	margin-top: 135px;
	font-size: 20px;
	word-wrap: break-word;
	border-color: #f3eded;
}
textarea {
	margin-top: 150px;
	width: 750px;
	height: 900px;
	background-color: ;
	font-size: 15px;
	border: none;
}
.image {
	margin-left: 20px;
}